{{#d-modal-body title="canned_replies.edit.modal_title" class="canned-replies-modal"}}
  {{canned-replies-form title=replyTitle content=replyContent}}
{{/d-modal-body}}

<div class="modal-footer canned-replies-footer">

  {{d-button class="btn btn-primary edit-reply-save-btn"
      action=(action "save")
      label=savingLabel
      disabled=disableSaveButton}}

  <a {{action "cancel"}}>{{i18n 'cancel'}}</a>

  {{d-button class="btn-danger pull-right"
      action=(action "remove")
      icon="trash"
      disabled=saving}}
</div>
