<DModalBody
  @title="canned_replies.edit.modal_title"
  @class="canned-replies-modal"
>
  <CannedRepliesForm @title={{replyTitle}} @content={{replyContent}} />
</DModalBody>

<div class="modal-footer canned-replies-footer">
  <DButton
    class="btn-primary edit-reply-save-btn"
    @action={{action "save"}}
    @label={{savingLabel}}
    @disabled={{disableSaveButton}}
  />

  <DButton
    @action={{action "cancel"}}
    @icon="chevron-left"
    @label="canned_replies.back"
    class="canned-replies-edit-back"
  />

  <DButton
    class="btn-danger"
    @action={{action "remove"}}
    @icon="trash-alt"
    @disabled={{saving}}
  />
</div>