<div class="modal-body template-manager-modal" style="overflow: visible">
  <div class="details">
    <div class="reply-selector">
      <div class="selector">
        {{combo-box id="repliesComboBox" name="replies" valueAttribute="id" value=controller.selectedReplyID nameProperty="title" content=replies}}
        <span id="sortCannedRepliesAlphabetically">
          {{d-button class="btn-primary pull-right" action="sortAlphabetically" icon="sort-alpha-asc" title="canned_replies.insert.sort.alphabetically"}}
        </span>
        <span id="sortCannedRepliesByUsage" style="display: none">
          {{d-button class="btn-primary pull-right" action="sortByUsage" icon="sort-amount-desc" title="canned_replies.insert.sort.usage"}}
        </span>
      </div>
    </div>

    <div class="content">
        <div>
          {{{selectedReply.cooked}}}
        </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  {{d-button class="btn-default pull-left" action="newReply" icon="plus" label="canned_replies.insert.new_button"}}
  {{d-button class="btn-default pull-left" action="editReply" icon="pencil" label="canned_replies.insert.edit_button"}}
  {{d-button class="btn-primary pull-right" action="apply" icon="clipboard" label="canned_replies.insert.insert_button"}}
</div>
