<div class="modal-body template-manager-modal" style="overflow: visible">
  <div class="details">
    <div class="wrapper">
      <label>{{i18n "canned_replies.edit.title"}}</label>
      {{input name="reply_title" valueAttribute="id" value=controller.reply_title nameProperty="reply_title"}}
    </div>

    <div class="wrapper">
        <label>{{i18n "canned_replies.edit.content"}}</label>
        {{textarea name="reply_content" value=controller.reply_content}}
    </div>

  </div>
</div>
<div class="modal-footer canned-replies-footer">
  {{d-button class="btn-danger pull-left" action="remove" icon="trash" label="canned_replies.edit.remove_button"}}
  {{d-button class="btn-primary pull-right" action="save" icon="pencil" label="canned_replies.edit.edit_button"}}
  <a href {{action "cancel"}} class='cancel pull-right'>{{i18n 'cancel'}}</a>
</div>
