<div class="modal-body template-manager-modal" style="overflow: visible">
  <div class="details">
    <div class="wrapper">
      <label>{{i18n "canned_replies.add.title"}}</label>
      {{input name="new_title" valueAttribute="id" value=controller.new_title nameProperty="new_title"}}
    </div>

    <div class="wrapper">
        <label>{{i18n "canned_replies.add.content"}}</label>
        {{textarea name="new_content" value=controller.new_content}}
    </div>

  </div>
</div>
<div class="modal-footer canned-replies-footer">
  {{d-button class="btn-primary pull-right" action="add" icon="plus" label="canned_replies.add.add_button"}}
  <a href {{action "cancel"}} class='cancel pull-right'>{{i18n 'cancel'}}</a>
</div>
