<div class="modal-body poll-ui-modal" style="overflow: visible">
  <div class="details">
    <table>
      <tbody>
        <tr>
          <td>{{i18n "poll_ui.poll_name_label"}}</td>
          <td>{{text-field id="poll-name" value=controller.pollName placeholderKey="poll_ui.poll_name_placeholder" }}</td>
          <td>{{i18n "poll_ui.poll_type_label"}}</td>
          <td>{{combo-box name="poll-type" valueAttribute="value" value=controller.pollType
            nameProperty="title" content=pollTypes }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        {{#if isMultipleOrNumberPoll}}
        <tr>
          <td>
            {{#if isNumberPoll}}
              {{i18n "poll_ui.poll_min_numeric_label" }}
            {{else}}
              {{i18n "poll_ui.poll_min_multiple_label" }}
            {{/if}}
          </td>
          <td class="numeric-field">
            {{text-field id="poll-min-value" value=controller.pollMinValue placeholderKey="poll_ui.poll_min_placeholder" maxlength="3" }}
          </td>
          <td>
            {{#if isNumberPoll}}
              {{i18n "poll_ui.poll_max_numeric_label" }}
            {{else}}
              {{i18n "poll_ui.poll_max_multiple_label" }}
            {{/if}}
          </td>
          <td class="numeric-field">
            {{text-field id="poll-max-value" value=controller.pollMaxValue placeholderKey="poll_ui.poll_max_placeholder" maxlength="3" }}
          </td>
        </tr>
        <tr>
          <td colspan="2">{{input-tip validation=minValueValidation}}</td>
          <td colspan="2">{{input-tip validation=maxValueValidation}}</td>
        </tr>
        {{/if}}
        {{#if isNumberPoll}}
        <tr>
          <td>
            {{i18n "poll_ui.poll_step_label" }}
          </td>
          <td class="numeric-field">
            {{text-field id="poll-step-value" value=controller.pollStepValue placeholderKey="poll_ui.poll_step_placeholder" maxlength="3" }}
          </td>
          <td colspan="2"></td>
        </tr>
        <tr><td colspan="4">{{input-tip validation=stepValueValidation}}</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="content">
    {{#unless isNumberPoll}}
    <div {{bind-attr class=":choices choicesClass"}}>
      <div>{{i18n "poll_ui.poll_options_label"}}</div>
      {{input-tip validation=optionsValidation}}
      {{d-editor value=controller.pollOptions}}
    </div>
    {{/unless}}
    {{#if canProvideAnswers}}
    <div class="answer">
      <div>{{i18n "poll_ui.poll_answer_label" }}</div>
      {{d-editor value=controller.pollAnswerValue }}
    </div>
    {{/if}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" {{bind-attr disabled="submitDisabled"}} {{action "apply"}}>{{i18n "poll_ui.insert_button"}}</button>
</div>