<div class="modal-body template-manager-modal" style="overflow: visible">
  <div class="details">
    <table>
      <tbody>
        <tr>
          <td>{{i18n "template_manager.poll_type_label"}}</td>
          <td>{{combo-box name="poll-type" valueAttribute="value" value=controller.pollType
            nameProperty="title" content=pollTypes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" {{bind-attr disabled="submitDisabled"}} {{action "apply"}}>{{i18n "template_manager.insert_button"}}</button>
</div>

