<div class="canned-reply">
  <div {{action "toggle"}} class="canned-reply-title">
    {{d-button class="btn canned-replies-apply"
        action=(action "apply")
        icon="clipboard"}}

    {{d-button class="btn canned-replies-edit"
        action=(action "editReply")
        icon="pencil"}}

    <b>{{reply.title}}</b>
  </div>

  {{#if isOpen}}
    <div class="canned-replies-content">
      {{{cook-text reply.content}}}
    </div>
  {{/if}}
</div>
