<details class="canned-reply" id="canned-reply-{{reply.id}}">
  <summary class="canned-reply-title">
    <div class="canned-reply-title-text">{{reply.title}}</div>

    <div class="actions">
      {{d-button
        class="canned-replies-apply"
        action=(action "apply")
        icon="far-clipboard"
      }}

      {{#if canEdit}}
        {{d-button
          class="canned-replies-edit"
          action=(action "editReply")
          icon="pencil-alt"
        }}
      {{/if}}
    </div>
  </summary>

  <div class="canned-replies-content">
    {{cook-text reply.content}}
  </div>
</details>