<div class="canned-reply">

  <p class="canned-reply-title">
    {{d-button class="btn canned-replies-apply"
      action="apply"
      icon="clipboard"}}

    {{d-button class="btn canned-replies-edit"
        action="editReply"
        icon="pencil"}}

    {{reply.title}}

    {{#if isOpen}}
      <a class="pull-right canned-replies-toggle-content" {{action "close"}}>{{d-icon "chevron-up"}}</a>
    {{else}}
      <a class="pull-right canned-replies-toggle-content" {{action "open"}}>{{d-icon "chevron-down"}}</a>
    {{/if}}
  </p>

  {{#if isOpen}}
    <div class="canned-replies-content">
      {{{cook-text reply.content}}}
    </div>
  {{else}}
    <div class="canned-replies-excerpt">
      {{{cook-text reply.excerpt}}}
    </div>
  {{/if}}

</div>
