<div class="canned-reply" id="canned-reply-{{reply.id}}">
  <div {{action "toggle"}} class="canned-reply-title">
    {{d-button
      class="canned-replies-apply"
      action=(action "apply")
      icon="far-clipboard"
    }}

    {{#if canEdit}}
      {{d-button
        class="canned-replies-edit"
        action=(action "editReply")
        icon="pencil-alt"
      }}
    {{/if}}

    <div class="canned-replies-title-text">{{reply.title}}</div>
  </div>

  {{#if isOpen}}
    <div class="canned-replies-content">
      {{{cook-text reply.content}}}
    </div>
  {{/if}}
</div>
