{{#if cannedVisible}}
  <div class="d-editor-preview">
    <ConditionalLoadingSpinner @condition={{loadingReplies}}>
      {{#if canEdit}}
        <div class="canned-replies-edit-bar">
          <DButton
            class="canned-replies-new"
            @action={{action "newReply"}}
            @icon="plus"
            @label="canned_replies.insert.new_button"
          />
          <TextField
            @class="canned-replies-filter"
            @value={{listFilter}}
            @placeholder={{i18n "canned_replies.filter_hint"}}
          />

          <DButton
            class="modal-close close btn-flat"
            @action={{action "hide"}}
            @icon="times"
          />
        </div>
      {{/if}}

      {{#each filteredReplies as |r|}}
        <CannedReply @reply={{r}} />
      {{/each}}
    </ConditionalLoadingSpinner>
  </div>
{{/if}}