{{#if isVisible}}
  <div class="d-editor-preview">
    {{#conditional-loading-spinner condition=loadingReplies}}
      {{d-button class="btn canned-replies-new"
          action="newReply"
          icon="plus"
          label="canned_replies.insert.new_button"}}
      {{text-field value=listFilter placeholder=filterHint}}
      <a class="close pull-right" {{action "hide"}}>{{fa-icon "times"}}</a>
      {{#each replies as |r|}}
        {{canned-reply reply=r}}
      {{/each}}
    {{/conditional-loading-spinner}}
  </div>
{{/if}}